

  <!-- footer  -->


  <div class="row footbac">
<!-- FOOTER REPLACEMENT -->
<div class="my-footer d-flex justify-content-center flex-wrap gap-3 py-3">
    <a href="/terms" class="text-light text-decoration-none">Terms</a>
    <span class="text-light">·</span>
    <a href="/privacy" class="text-light text-decoration-none">Privacy</a>
    <span class="text-light">·</span>
    <a href="/privacy-choices" class="text-light text-decoration-none">Your Privacy Choices</a>
</div>

 
 
   </div>
 
  
 
 
 
 
 
 
 
 
 </div>   
 
 </body>
 <!-- <script src="jquery.min.js"></script> -->
  
 
 <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 

 </html>