<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickLet - {{ pagetitle }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ql.css') }}">

    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <!-- <link rel="icon"  type="image/ico" href="pic/quickleticon.ico">  -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pic/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='pic/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='pic/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='pic/apple-touch-icon.png') }}">

        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script:wght@700&family=Lobster&display=swap" rel="stylesheet">
  

    <style> 
   
    </style>
</head>
<body class="index-body">
    <!-- container -->
 <div class="container-fluid">
    <!-- header -->
     <div class="box">
      <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal"><img src="/static/pic/chat.png" style="width: 45px;" alt="stickypicturechatbox"></a>
     </div>
  <div class="row">

    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg mybg fixed-top">
          <div class="container-fluid">
  
              <a class="navbar-brand qlbrand" href="{{url_for('home_page')}}">Quick<span class="qlsp">Let</span></a>
  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                      data-bs-target="#navbarSupportedContent">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                  <!-- LEFT -->
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('home_page') }}">Home</a>
                      </li>
  
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                          Apartments
                        </a>
                        <ul class="dropdown-menu">
                          {% for c in categories %}
                          <!-- value is category_id so backend filters by category_id -->
                          <li><a class="dropdown-item" href="{{url_for('filter_apartments', category=c.category_id)}}">{{c.category_name}}</a></li>
                        {% endfor %}
                          

                        </ul>
                      </li>
  
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                          Cities
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('filter_apartments', state=1) }}">Lagos</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('filter_apartments', state=2) }}">Abuja</a></li>
                          <li><a class="dropdown-item" href="{{url_for('apartments')}}">Ibadan Coming Soon</a></li>
                        </ul>
                      </li>
                      {%if not user%}

                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('agent_login')}}">List Property</a>
                      </li>
                      {%endif%}
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about_us')}}">About Us</a>
                      </li>
  
                      <li class="nav-item">
                        <a href="{{url_for('contact')}}" class="nav-link">Contact Us</a>
                      </li>

                                        <!-- RIGHT (LOGIN / REGISTER / HELLO USER) -->
                  {% if not user and not agent %}
                  
                  <!-- REGISTER -->
                  <li class="nav-item dropdown mx-1">
                    <a class="btn btn-warning dropdown-toggle text-dark" href="#" role="button"
                       id="registerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      Register
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="registerDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('user_register') }}">User</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('agent_register') }}">Agent</a></li>
                    </ul>
                  </li>
                  <!-- LOGIN -->
                  <li class="nav-item dropdown mx-1">
                    <a class="btn btn-warning dropdown-toggle text-dark" href="#" role="button"
                       id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('user_login') }}">User</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('agent_login') }}">Agent</a></li>
                    </ul>
                  </li>

              {% elif user %}
                  <!-- USER LOGGED IN -->
              <a href="{{url_for('user_dashboard')}}" class="btn btn-warning mx-2 text-dark"> Hi, {{ user.user_fname|capitalize }}</a>

                  <!-- <span class="nav-link text-light fw-bold me-3">
                      Hello, {{ user.user_fname }}
                  </span> -->
                  <a href="{{ url_for('user_logout') }}" 
                     class="btn btn-danger"><i class="fas fa-power-off"></i> Logout</a>

              {% elif agent %}
                  <!-- AGENT LOGGED IN -->
              <a href="{{url_for('agent_dashboard')}}" class="btn btn-warning mx-2 text-dark">  Hi, {{ agent.agent_fname|capitalize }}</a>

                  <!-- <span class="nav-link text-light fw-bold me-3">
                      Hello, {{ agent.agent_fname }}
                  </span> -->
                  <a href="{{ url_for('agent_logout') }}" 
                     class="btn btn-danger"><i class="fas fa-power-off"></i> Logout</a>
              {% endif %}

  
                  </ul>
  

              </div>
          </div>
      </nav>
  </div>
  





  </div>  
  <!-- This is where the overlay div was  -->
   <!-- this is the new one i prefer  -->




<!-- this is a new hero section:  -->
<div class="herosec mt-4">
  <div class="container">
    <div class="row align-items-center gy-4">

      <!-- LEFT TEXT -->
      <div class="col-lg-5 text-center text-lg-start">

        <span class="hero-badge d-inline-block mb-3">
          Trusted Short-Let Platform
        </span>

        <h2 class="hero-title mytxt">
          Find your next stay <br>
          with <a class="navbar-brand qlbrand d-inline-block ms-1"
             href="{{url_for('home_page')}}">
            Quick<span class="qlsp">Let</span>
          </a>
        </h2>
        <span class="hero-badge-p d-inline-block mb-3">
            <img src="{{url_for('static', filename='pic/approved.png')}}" style="height: 20px; width: 20px;" alt=""> Search verified apartments and short lets across Nigeria.

        </span>
      

      </div>

      <!-- RIGHT FORM -->
      <div class="col-lg-7">

        <div class="form-card">

          <form action="{{ url_for('filter_apartments') }}" method="get">

            <!-- ROW 1 -->
            <div class="row g-3 mb-4">
              <div class="col-md-6">
                <label class="form-label">Location</label>
                <input type="text" name="location" class="form-control"
                       placeholder="Lekki, Ikeja, Egbeda">
              </div>

              <div class="col-md-6">
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                  <option value="">All Categories</option>
                  {% for c in categories %}
                    <option value="{{ c.category_id }}">{{ c.category_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- ROW 2 -->
            <div class="row g-3 mb-4">
              <div class="col-md-6">
                <label class="form-label">Check-In</label>
                <input type="date" name="check_in" class="form-control">
              </div>

              <div class="col-md-6">
                <label class="form-label">Check-Out</label>
                <input type="date" name="check_out" class="form-control">
              </div>
            </div>

            <!-- ROW 3 -->
            <div class="row g-3 mb-4">
              <div class="col-md-6">
                <label class="form-label">State</label>
                <select name="state" id="state" class="form-select">
                  <option value="">All States</option>
                  {% for s in states %}
                    <option value="{{ s.state_id }}">{{ s.state_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-6">
                <label class="form-label">LGA</label>
                <select name="lga" id="lga" class="form-select">
                  <option value="">All LGAs</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-purple w-100 py-3 fw-semibold">
              Search Apartments
            </button>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- end of hero section  -->















  <!-- why choose us  -->
   <div class="row">

    <div class="col-md-12 text-center mt-3 mb-4">
      <h2 class="mytxt">Where Eve<span>ry Stay Feels Like Home...</h2>
      <!-- <p>User: {{ user }}</p>
      <p>Agent: {{ agent }}</p> -->
    </div>
    <div class="col-md-4 text-center">
     <img src="{{url_for('static', filename='pic/calendar.png')}}" alt="" class="cofimg mb-3">
     <br>
     <h3 class="mb-3 mytxt mtf">Booking Simplified</h3>
     <p>We've simplified online Serviced Apartment booking for seamless customization to traveler's needs.</p>
      
     
    </div>
    <div class="col-md-4 text-center">
      <img src="{{url_for('static', filename='pic/home.png')}}" alt="" class="cofimg mb-3">
      <br> 
      <h3 class="mb-3 mytxt mtf">Safety like Home</h3>
      <p>Our partners regularly inspect apartments for hygiene, security, and safety to maintain advertised standards.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="{{url_for('static', filename='pic/coffee2.png')}}" alt="" class="cofimg mb-3">
      <br> 
      <h3 class="mb-3 mytxt mtf">Hospitality</h3>
      <p>We provide familial hospitality, ensuring you're fully connected to your community through partnerships.</p>
    </div>
   </div>


   <div class="col-md-12 text-center mt-5 mb-4">
     <h4 class="mytxt mtf">Explore Our Apartments in Lagos and Abuja</h4>
   </div>

<!-- Filter Bar -->

<!-- Filter Bar -->
<div class="row mb-4 justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="filter-card p-4 shadow-sm rounded-4">
      <form action="{{ url_for('filter_apartments') }}" method="GET">
        <div class="row g-2 align-items-center">
          <div class="col-md-4">
            <input type="text" name="location" class="form-control" placeholder="Enter location">
          </div>
          <div class="col-md-4">
            <select name="category" class="form-select">
              <option value="">Categories</option>
              {% for c in categories %}
                <option value="{{ c.category_id }}">{{ c.category_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-purple w-100">Filter Apartments</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="row mb-4 justify-content-center">
  <div class="col-12 col-lg-10">
    <div class="filter-card p-4 shadow-sm rounded-4">
<form action="{{ url_for('filter_apartments') }}" method="GET">

      <div class="row g-2 align-items-center">
        <div class="col-md-4">
          <input type="text" name="location" class="form-control" placeholder="Enter location">
        </div>
        <div class="col-md-4">
          <select name="category_id" class="form-select">
            <option value="">Categories</option>
            {%for c in categories%}
            <option value="{{ c.category_id }}">{{c.category_name}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-purple w-100">Filter Apartments</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form> -->









<!-- this was where the previous cards were  --> 
 <!-- i want to use anothr styling -->

<!-- this is the dynamic div  -->


<div class="row g-3">
  {% for apt in apartments %}
  <div class="col-6 col-md-4 col-lg-3">

    <div class="card shadow-sm border-0 h-100 apt-card">

      {% if apt.pictures %}
      <img class="cimg1"
           src="{{ url_for('static', filename=apt.pictures[0].apt_image) }}"
           alt="Apartment Image">
      {% else %}
      <img class="cimg1"
           src="{{ url_for('static', filename='pic/default.jpg') }}"
           alt="Default Image">
      {% endif %}

      <div class="card-body aptinfos">

        <h6 class="fw-bold mt-2 text-truncate">
          {{ apt.apartment_title }}
        </h6>

        <p class="text-muted small mb-1 text-truncate">
          {{ apt.apartment_address }} • {{ apt.category.category_name }}
        </p>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <span class="fw-bold">
            ₦{{ "{:,.0f}".format(apt.apartment_price) }}
            <small class="text-muted">/Night</small>
          </span>

          <a href="{{ url_for('apartment_display', apartment_id=apt.apartment_id) }}"
             class="btn btn-purple btn-sm">
            View
          </a>
        </div>

      </div>
    </div>

  </div>
  {% endfor %}
</div>






<!-- <div class="row">
  {% for apt in apartments %}
  <div class="col-6 col-md-3 mb-4">

      <div class="card shadow-sm border-0 h-100">

          {% if apt.pictures %}
          <img class="cimg1"
               src="{{ url_for('static', filename=apt.pictures[0].apt_image) }}"
               alt="Apartment Image">
          {% else %}
          <img class="cimg1"
               src="{{ url_for('static', filename='pic/default.jpg') }}"
               alt="Default Image">
          {% endif %}

          <div class="card-body aptinfos">

              <h6 class="fw-bold mt-2">{{ apt.apartment_title }}</h6>

              <p class="text-muted small mb-1">
                  {{ apt.apartment_address }} • {{ apt.category.category_name }}
              </p>

              <p class="text-muted small" style="font-size: 10px;">
                  ₦{{ "{:,.0f}".format(apt.apartment_price) }}/Night
              </p>

              <div class="d-flex justify-content-between align-items-center mt-2">
                  <h5 class="fw-bold" style="font-size: 15px;">
                      ₦{{ "{:,.0f}".format(apt.apartment_price) }}
                      <span class="text-muted" style="font-size: 12px;">/Night</span>
                  </h5>

                  <a href="{{ url_for('apartment_display', apartment_id=apt.apartment_id) }}"
                     class="btn btn-purple btn-sm">
                      View
                  </a>
              </div>

          </div>

      </div>

  </div>
  {% endfor %}
</div> -->


<!-- 
<div class="row">
  {% for apt in apartments %}
  <div class="col-md-3">
      <div class="mb-5">
          <div class="aptpic">
              {% if apt.pictures %}
              <img class="cimg1" src="{{ url_for('static', filename=apt.pictures[0].apt_image) }}" alt="Apartment Image">
              {% else %}
              <img class="cimg1" src="{{ url_for('static', filename='pic/default.jpg') }}" alt="Default Image">
              {% endif %}
              <div class="aptinfos">
                  <h6 class="apttitle mt-2">{{ apt.apartment_title }}</h6>
                  <p class="text-muted" style="font-size: 10px;">
                      {{ apt.apartment_address }} • {{ apt.category.category_name }} • ₦{{ "{:,.0f}".format(apt.apartment_price) }}/Night
                  </p>
                  <div class="aptpriceandview">
                      <h5 style="font-size: 15px;"> ₦{{ "{:,.0f}".format(apt.apartment_price) }}<span class="aptsp">/Night</span></h5>
                      <a href="{{ url_for('apartment_display', apartment_id=apt.apartment_id) }}" class="btn btn-purple">
                        View
                    </a>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div> -->





    <!-- hr line practical important i might need it again --> 
    <div class="d-flex align-items-center my-3">
      <hr class="flex-grow-1">
      <a href="{{url_for('apartments')}}" class="btn btn-purple w-60 ">View More</a>

      <hr class="flex-grow-1">
    </div>




  
 </div>



 <div class="row">
   <!-- Amenities Section -->
<div class="container amenities-section mt-5">
  <h3 class="text-center mb-5 mt-4 mytxt mtf ">QuickLet Standard Amenities</h3>
  <div class="row text-center ">

    <div class="col-6 col-md-3">
      <img src="static/pic/wifi.png" alt="Wi-Fi" class="mb-2" style="width:50px;">
      <h6>Free Wi-Fi</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/kitchen.png" alt="Kitchen" class="mb-2" style="width:50px;">
      <h6>Fully Equipped Kitchen</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/parking.png" alt="Parking" class="mb-2" style="width:50px;">
      <h6>Secure Parking</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/smart-tv.png" alt="TV" class="mb-2" style="width:50px;">
      <h6>Smart TV</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/swimming-pool.png" alt="Swimming Pool" class="mb-2" style="width:50px;">
      <h6>Swimming Pool</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/air-conditioner.png" alt="Air Conditioning" class="mb-2" style="width:50px;">
      <h6>Air Conditioning</h6>
    </div>

    <div class="col-6 col-md-3">
      <img src="static/pic/double-bed3.png" alt="Comfortable Beds" class="mb-2" style="width:50px;">
      <h6>Comfortable Beds</h6>
    </div>
 
    <div class="col-6 col-md-3">
      <img src="static/pic/products.png" alt="Daily Cleaning" class="mb-2" style="width:50px;">
      <h6>Daily Cleaning</h6>
    </div>

  </div>
</div>




  </div>







  <div class="container my-5">
  <h3 class="text-center mb-4 mytxt mtfs">Guest Reviews</h3>

  <div class="review-slider d-flex overflow-hidden">
    <div class="d-flex gap-4 animate-scroll">

      <!-- Review 1 -->
      <div class="card shadow-sm border-0 rounded-4 p-3" style="min-width: 300px;">
        <p class="text-muted fst-italic">“QuickLet made my Lagos trip stress-free! The apartment was spotless and exactly as described.”</p>
        <h6 class="fw-bold mt-3">- Michaela M.</h6>
        <p class="text-warning mb-0">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        </p>
      </div>

      <!-- Review 2 -->
      <div class="card shadow-sm border-0 rounded-4 p-3" style="min-width: 300px;">
        <p class="text-muted fst-italic">“The Lekki apartment was top-notch. I’ll definitely be booking again for my next business trip.”</p>
        <h6 class="fw-bold mt-3">- James A.</h6>
        <p class="text-warning mb-0">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </p>
      </div>

      <!-- Review 3 -->
      <div class="card shadow-sm border-0 rounded-4 p-3" style="min-width: 300px;">
        <p class="text-muted fst-italic">“Great hospitality and seamless check-in. It truly felt like home away from home.”</p>
        <h6 class="fw-bold mt-3">- Amaka I.</h6>
        <p class="text-warning mb-0">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
        </p>
      </div>

      <!-- Review 4 -->
      <div class="card shadow-sm border-0 rounded-4 p-3" style="min-width: 300px;">
        <p class="text-muted fst-italic">“Booking was super easy. The apartment had fast Wi-Fi and a cozy setup — just what I needed.”</p>
        <h6 class="fw-bold mt-3">- Tunde K.</h6>
        <p class="text-warning mb-0">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        </p>
      </div>

    </div>
  </div>
</div>




  <!-- footer  -->


  <div class="row footbac">
   <div class="col-md-4 text-center  mt-4">
   <h3 class="footcol mytxt mtf mb-3">Support and Resourses</h3>
   <p> <a href="{{url_for('about_us')}}" class="footcol">About Us</a></p>
    <p><a href="#" class="footcol">Privacy Policy</a></p>
   <p><a href="#" class="footcol">Refund & Cancellation</a></p>
   <p><a href="#" class="footcol">Terms & Conditions</a></p>
    </div>
     

    <div class="col-md-4 text-center mt-4">
     <h3 class="footcol mtf mytxt mb-3">Booking and Enquires </h3>
   <p class="footcol"> <span><i class="fas fa-phone-alt me-2 "></i> +234 703 985 3440</span></p>
    <p class="footcol"><span><i class="fas fa-envelope me-2"></i> Tomide@quicklet.com</span></p>
   <p class="footcol"><span><i class="fas fa-map-marker-alt me-2"></i> 5,Ogunsiji Allen Avenue Lagos</span></p>
   
    
   </div>


    <div class="col-md-4 text-center mt-4">
      <h3 class="footcol mtf mytxt mb-3">QuickLet Socials </h3>
    <a href="#"><i class="fab fa-facebook fa-lg text-light me-3"></i></a>
    <a href="#"><i class="fab fa-instagram fa-lg text-light me-3"></i></a>
    <a href="#"><i class="fab fa-twitter fa-lg text-light me-3"></i></a>
    <a href="#"><i class="fab fa-whatsapp fa-lg text-light me-3"></i></a>
  
    
   </div>
   <hr style="color: white;">

   <div class="col-md-12 text-center">
     <p style="color:white"> &copy 2025 QuickLet Apartments | All Rights Reserved</p>
   </div>


  </div>

 








</div>   
<!-- CONTACT US MODAL -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <form method="POST" action="{{ url_for('contact') }}">
        {{ contact.hidden_tag() }}  <!-- CSRF token + hidden fields -->

        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Send a Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <!-- First Name -->
          <div class="mb-3">
            {{ contact.firstname.label(class="form-label") }}
            {{ contact.firstname(class="form-control", placeholder="Your Name") }}
            {% for error in contact.firstname.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <!-- Email -->
          <div class="mb-3">
            {{ contact.email.label(class="form-label") }}
            {{ contact.email(class="form-control", placeholder="Your Email") }}
            {% for error in contact.email.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <!-- Phone -->
          <div class="mb-3">
            {{ contact.phone.label(class="form-label") }}
            {{ contact.phone(class="form-control", placeholder="Your Phone Number") }}
            {% for error in contact.phone.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <!-- Message -->
          <div class="mb-3">
            {{ contact.complain_text.label(class="form-label") }}
            {{ contact.complain_text(class="form-control", rows="4", placeholder="Type your message here") }}
            {% for error in contact.complain_text.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <!-- Contact Method -->
          <div class="mb-3">
            {{ contact.contact_method.label(class="form-label d-block") }}
            {% for subfield in contact.contact_method %}
              <div class="form-check form-check-inline">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
              </div>
            {% endfor %}
            {% for error in contact.contact_method.errors %}
              <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-purple">Send Message</button>
        </div>
      </form>





    </div>
  </div>
</div>

</body>
<!-- <script src="jquery.min.js"></script> -->
 

<script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function(){
  $('#state').change(function(){
    var stateID = $(this).val();
    $.ajax({
      url: '/get/lgas/',   // your LGA route that returns <option> tags
      data: { state_id: stateID },
      success: function(resp){
        $('#lga').html(resp);  // injects <option> tags returned by server
      },
      error: function(){
        $('#lga').html('<option value="">All LGAs</option>');
      }
    });
  });
});

</script>
</html>